.route-animation-enter-active,
.route-animation-leave-active {
  transition: opacity 1s ease;
}

.route-animation-enter-from,
.route-animation-leave-to {
  opacity: 0;
}

// 1
.home-animation-1-enter-active {
  transition: opacity 1s ease 0.2s;
}
// 2
.home-animation-2-enter-active {
  transition: opacity 1.4s ease 1.5s;
}
// 3
.home-animation-3-enter-active {
  transition: opacity 1.1s ease 3s;
}
// 4
.home-animation-4-enter-active {
  transition: opacity 1s ease 6s;
}

.home-animation-1-enter-from,
.home-animation-2-enter-from,
.home-animation-3-enter-from,
.home-animation-4-enter-from {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
