@use './normalize.scss';
@use './variables.scss';
@use './components/style.scss';
@use './animations.scss';

html {
  font-size: 20px;
}

.menu-view {
  position: absolute;
  inset: 0;

  &__content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-top: var(--inset-top);
  }

  &__header {
    padding: 28px 20px 16px;
  }

  &__subheading {
    font-size: .6rem;
    letter-spacing: .2em;
    margin-bottom: 4px;
  }

  &__heading {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

.text-header {
  font-family: var(--font-header);
  color: var(--bark);
}

.text-primary {
  font-family: var(--font-primary);
  color: var(--text-soft);
}

.text-secondary {
  font-family: var(--font-secondary);
  color: var(--dusty);
  text-transform: uppercase;
}
